.idea
cmake-*
gen/*.S
arch/*/gen
*.o
make-elf-writable
*.json
.cache
arch/*/smolforth
arch/*/smolforth-boot
arch/*/smolforth.emb
*.a
*.bin
reloc/obj-*
out.*
arch/*/environment_queries.h
arch/*/environment_functions.h
*.out
*.elf
*.tar
